<% const categoriesList = list_categories({ show_count: false }); const tagsList = list_tags({ show_count: false }); const archivesList = list_archives({ show_count: false }); %> <% if (is_year() ===
false) { %>
<div class="content">
  <h1>記事一覧</h1>

  <% if (theme.atom !== undefined) { %>
  <p>
    The feed is available via
    <a href="<%=theme.atom%>">atom</a>.
  </p>
  <br />
  <% } %>

  <aside>
    <h2>活動記録</h2>
    <% if (categoriesList !== "") { %> <%-categoriesList%> <% } else { %>
    <p>None.</p>
    <% } %>
  </aside>
  <br />

  <aside>
    <h2>タグ</h2>
    <div><%- list_tags(site.tags, { class: { ul: 'field is-grouped is-grouped-multiline', li: 'tags has-addons px-2 mb-0', a: 'tag', count: 'tag is-link is-light' } }) %></div>
  </aside>
  <br />
</div>
<% } else { %>

<div class="content">
  <h2><%=page.year + '/' + page.month%></h2>
  <% page.posts.each(article => { %>
  <div class="box">
    <p class="title is-4">
      <a href="<%=url_for(article.path)%>"> <%=article.title%> </a>
    </p>
    <time datetime="<%=date_xml(article.date)%>"> <%=date(article.date)%> </time>
    <p class="content"><%- article.excerpt %></p>
  </div>
  <% }); %>
</div>

<%- partial('partials/paginator') %> 
<% } %>
