<!DOCTYPE html>
<html lang="<%=config.language%>">
  <head>
    <meta charset="UTF-8" />
    <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <!-- stylesheets list from _config.yml -->
    <% theme.stylesheets.forEach(url => { %>
    <link rel="stylesheet" href="<%=url%>" />
    <% }); %> <% } %>
  </head>
  <body>
    <div class="columns">
      <%-partial('partials/nav-left') %>
      <div class="column">
        <main><%- body %></main>
        <%- partial('partials/footer') %>
      </div>
    </div>
  </body>
</html>
