<div>
  <div class="content">
    <h1><%=page.tag%></h1>
    <% page.posts.each(article => { %>
    <div class="box">
      <p class="title is-4">
        <a href="<%=url_for(article.path)%>"> <%=article.title%> </a>
      </p>
      <time datetime="<%=date_xml(article.created_at)%>"> <%=date(article.created_at)%> </time>
      <p class="content"><%- article.excerpt %></p>
    </div>
    <% }); %>
  </div>
</div>

<%- partial('partials/paginator') %>
