<aside id="nav__left" class="column is-one-quarter has-bg-gray">
  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
  <div class="columns is-justify-content-center p-4">
    <figure class="image column">
      <img src="/images/<%= theme.images.avatar %> " />
    </figure>
  </div>
  <div class="columns is-justify-content-center">
    <% if (theme.links.github) { %>
    <span class="icon-text">
      <span><img src="/images/<%= theme.images.icon.github %> " /></span>
      <a href="<%= theme.links.github %> ">GitHub</a>
    </span>
    <% } %> <% if (theme.links.twitter) { %>
    <span class="icon-text">
      <span><img src="/images/<%= theme.images.icon.twitter %> " /></span>
      <a href="<%= theme.links.twitter %>">Twitter</a>
    </span>
    <% } %>
  </div>
  <div class="menu p-2 mt-8">
    <ul class="menu-list">
      <% for( const {title: menu_title, path: menu_path} of theme.menu ) { %>
      <li>
        <a href="<%- url_for(menu_path)%>"><%= menu_title %> </a>
      </li>
      <% } %>
    </ul>
  </div>
  <div class="menu">
    <p class="menu-label">活動記録</p>
    <%- list_categories(site.categories, { show_count: false, class: 'menu' }) %>
  </div>
</aside>
